<div class="input-block">
    <div class="input_text">
        이름을 입력해주세요
    </div>
    <input class="input_box" type="text" placeholder="내용을 입력해주세요">
</div>
<div class="input-block">
    <div class="input_text">
        아이디를 입력해주세요
    </div>
    <div class="inputDiv">
        <input class="input_box" type="text" placeholder="내용을 입력해주세요">
        <button class="inputDiv-button" onclick = "location.href = '#'"  type="button">
            <font size="1px" color="#6E6E6E">중복확인</font>
        </button>
    </div>
</div>
<div class="input-block">
    <div class="input_text">
        닉네임을 입력해주세요
    </div>
    <div class="inputDiv">
        <input class="input_box" type="text" placeholder="내용을 입력해주세요">
        <button class="inputDiv-button" onclick = "location.href = '#'" type="button">
            <font size="1px" color="#6E6E6E">중복확인</font>
        </button>
    </div>
</div>
<div class="input-block">
    <div class="input_text">
        비밀번호 설정(최소 8자리)
    </div>
    <input class="input_box" type="text" placeholder="내용을 입력해주세요">
</div>
<div class="input-block">
    <div class="input_text">
        비밀번호 확인
    </div>
    <input class="input_box" type="text" placeholder="내용을 입력해주세요">
</div>
<div class="input-block">
    <div class="input_text">
        이메일을 입력해주세요
    </div>
    <input class="input_box" type="text" placeholder="내용을 입력해주세요">
</div>
<div class="input-block">
    <input type="checkbox">
    <span style="font-size:12px;">[필수] 서비스 이용약관(영상 촬영)</span>
</div>




