@font-face{
  font-family: "main-font";
  src: url("./GmarketSansMedium.otf") format("opentype");
}

@font-face{
  font-family: "sub-font";
  src: url("./paybooc OTF Medium.otf") format("opentype");
}

.entire-box{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 380px;
  height: 600px;
  transform: translate(-50%, -50%);
  test-align: center;
}

.dark-blue-background {
  background: #025959;
  width: 370px;
  height: 53px;
  z-index: 3;
}

.dark-blue-background .back-arrow{
  color:white;
  position: relative;
  left: 5%;
  top: 15%;
}

.dark-blue-background .profile-font {
  font-size: 28px;
  font-family: "main-font";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.63398320585301,0,0,1.72757105285814,0,0);
  -webkit-transform: matrix( 1.63398320585301,0,0,1.72757105285814,0,0);
  -ms-transform: matrix( 1.63398320585301,0,0,1.72757105285814,0,0);
  left: 24%;
  top: 20%;
  position: relative;
}

.content{
  margin-top: 30px;
}

.input-block{
  margin-top: 30px;
  margin-left: 5px;
}

.input-block .input_text{
  font-weight: 540;
}


.input-block .input_box{
  border-radius: 5%;
  border-color: gray;
  border-top:    0px;
  border-right:  0px;
  border-bottom: 2px solid  #gray;
  border-left:   0px;
  box-shadow: none;
  width: 350px;
  height: 30px;
  cursor:pointer;
}

.inputDiv{
  position: relative;
}

.inputDiv .inputDiv-button{
  cursor:pointer;
  position: absolute;
  left: 80%;
  top: 8px;
  width: 56px;
  height: 20px;
  background: #D8D8D8;
  border-radius: 10%;
  border:0px transparent solid;
}

.inputDiv .inputDiv-button:hover{
  box-shadow:200px 0 0 0 rgba(0,0,0,0.1) inset;
}

.button{
   border: 0;
   outline: 0;
   background: 0;
   font-size: 15px;
   cursor: pointer;
   text-align: center;
   text-decoration: none;
   outline: none;
   border: none;
   margin-top: 20px;
}


.footer-button {
  position: relative;
  left: 40%;
  cursor:pointer;
  background: #038C7F;
  margin-top: 10%;
  top: 8px;
  width: 80px;
  height: 30px;
  border-radius: 10%;
  border:0px transparent solid; block
}

.btn-btn {
  cursor:pointer;
  background: #333333;
  margin-top: 10px;
  border:0px transparent solid; block
}

.footer-button:hover{
  box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}

.box{margin-top: 10px;width:310px; height: 100px; background: #333333;}





