@font-face{
  font-family: "main-font";
  src: url("./GmarketSansMedium.otf") format("opentype");
}

@font-face{
  font-family: "sub-font";
  src: url("./paybooc OTF Medium.otf") format("opentype");
}

.entire-box{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 380px;
  height: 600px;
  transform: translate(-50%, -50%);
}

.content{
  margin-top: 30px;
}

.input-block{
  margin-top: 20px;
}

.input-block .input_text{
  font-weight: 540;
  font-family: "sub-font";
  font-size: small;
}

.input_box::placeholder{
  font-family:"sub-font";
  font-size: small;
}

.input-block .input_box{
  border-radius: 5%;
  border-color: gray;
  border-width: 1px;
  box-shadow: none;
  width: 300px;
  height: 30px;
}

.inputDiv{
  position: relative;
}

.inputDiv .inputDiv-button{
  position: absolute;
  left: 65%;
  top: 8px;
  width: 56px;
  height: 20px;
  background: #D8D8D8;
  border-radius: 10px;
  border:0px transparent solid;
}

.inputDiv .inputDiv-button:hover{
  box-shadow:200px 0 0 0 rgba(0,0,0,0.1) inset;
}


.footer{
  position: relative;
  left: 30%;
}

.footer-button {
  background: #038C7F;
  margin-top: 20px;
  border-radius: 10px;
  border:0px transparent solid;
  width: 100px;
  height: 30px;
}

.footer-button:hover{
  box-shadow:200px 0 0 0 rgba(0,0,0,0.5) inset;
}

.signup_alert{
  text-align:center;
  margin: 0 auto;
  width: 300px;
  height: 40px;
  background: #038C7F;
  border:0px transparent solid;
  border-radius: 10px;
}
