<button class="footer-button" onclick = "location.href = '#'" type="button" >
    <b style="color:#FFFFFF;" >저장</b>
</button>

<br><br>

<div class="box">
    &nbsp;
<button class="btn-btn"" onclick = "location.href = '#'" type="button" >
    <b style="color:#FFFFFF;" >고객센터</b>
</button> &nbsp; &nbsp; &nbsp; &nbsp;

<button class="btn-btn" onclick = "location.href = '#'" type="button" >
    <b style="color:#FFFFFF;" >Q&A</b>
</button> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

<button class="btn-btn" onclick = "location.href = '#'" type="button" >
    <b style="color:#FFFFFF;" >회사소개</b>
</button>
</div>