<div class="input-block">
     <input class="input_box" type="text" placeholder="ID">
</div>
<div class="input-block">
     <div class="inputDiv">
        <input class="input_box" type="text" placeholder="이름">
        <button class="inputDiv-button" onclick = "location.href = '#'"  type="button">
            <font size="2px" color="#6E6E6E">수정</font>
        </button>
    </div>
</div>
<div class="input-block">
    <div class="inputDiv">
        <input class="input_box" type="text" placeholder="닉네임">
        <button class="inputDiv-button" onclick = "location.href = '#'" type="button">
            <font size="2px" color="#6E6E6E">수정</font>
        </button>
    </div>
</div>
<div class="input-block">
    <div class="inputDiv">
        <input class="input_box" type="text" placeholder="이메일">
        <button class="inputDiv-button" onclick = "location.href = '#'" type="button">
            <font size="2px" color="#6E6E6E">수정</font>
        </button>
    </div>
<div class="input-block">
    <div class="inputDiv">
        <input class="input_box" type="text" placeholder="비밀번호 재설정" >
        <button class="inputDiv-button" onclick = "location.href = '#'" type="button" >
            <font size="2px" color="#6E6E6E">수정</font>
        </button>
    </div>
</div>

<button class="button" onclick = "location.href = '#'" type="button" >
    <b >탈퇴</b>
</button>


