{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=0,maximum-scale=10,user-scalable=yes">
        <script src="https://kit.fontawesome.com/ed737f01fa.js" crossorigin="anonymous"></script>
        <title>MyPage</title>
        {% block css %}
        <link href="{% static 'css_mypage_dir/styling_mypage.css' %}" rel="stylesheet" />
        {% endblock css %}
    </head>
    <body>
        <div class="entire-box">
            <div class="header">
                {% include 'mypage_topbar.html' %}
            </div>
            <div class="content">
                {% include 'mypage_content.html' %}
            </div>
        </div>
    </body>
</html>