.entire-box{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 380px;
  height: 600px;
  transform: translate(-50%, -50%);
  test-align: center;
}

.dark-blue-background {
  background: #409acb;
  width: 370px;
  height: 53px;
  z-index: 3;
}

.dark-blue-background .back-arrow{
  color:white;
  position: relative;
  left: 5%;
  top: 15%;
}

.dark-blue-background .video-font {
  font-size: 28px;
  font-family: "Headline R";
  color: rgb(255, 255, 255);
  line-height: 1.2;
  text-align: center;
  -moz-transform: matrix( 1.63398320585301,0,0,1.72757105285814,0,0);
  -webkit-transform: matrix( 1.63398320585301,0,0,1.72757105285814,0,0);
  -ms-transform: matrix( 1.63398320585301,0,0,1.72757105285814,0,0);
  left: 25%;
  top: 20%;
  position: relative;
}

.box{
    width: 230px;
    height : 340px;
    margin-left : 70px;
    margin-top : 10px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 100, 0.1);
}

.recordBtn{
    position: relative;
    left: 75px;"
    background-color: #FFFFFF;
    background-color:transparent;
    border:0px transparent solid;
}
.countdown{
    position: relative;
    left: 150px;
    font-size: 40px;
}
