<div>
    <img src="../camera/startCamera/recordVideo" style="width:370px; height:430px;"/>
</div>

<div class="record-button"><button id="stopRecording" class="record-button" onclick="stopRecording()"><i class="far fa-dot-circle fa-4x"></i></button></div>

<script>
    function stopRecording(){
    var message = "stop recording";
        $.ajax({
            url: 'releaseCamera',
            data: {'Data': message},

            success: function (data) {
                window.location.href = data.url;
            }
        });
    }
</script>
