<form action="index.html" method="post" class="loginForm">
      <h2> Swing Master </h2>
      <div class="entire">
          <div class="idForm">
        <input type="text" class="id" placeholder="아이디">
      </div>
      <div class="passForm">
        <input type="password" class="pw" placeholder="비밀번호">
      </div>
      <button type="button" class="btn" onclick="button()">
        로그인
      </button>
      </div>
      <script>
      	let button = () => {
        	alert('login Button !')
        }
      </script>
      <div class="bottomText">
        처음이신가요? <a href="#"> 회원가입 </a>
      </div>
    </form>