<div class="login-form">
    <div class="id-form">
        <span class="login-text">ID</span>
        <input type="text" class="login-input" id="id-input" height="40px" placeholder="내용을 입력해주세요">
    </div>
    <div class="passwd-form">
        <span class="login-text">PW</span>
        <input type="password" class="login-input" id="passwd-input" height="40px" placeholder="내용을 입력해주세요">
    </div>
</div>

<button class="login-btn" onclick = "location.href = '../mainpage'" type="submit">
    <b style="color:#FFFFFF">로그인</b>
</button>